.reddito-header {
	margin-bottom: 0px;
}
.reddito-title {
	font-size: 1em;
}
.reddito-summary {
	font-size: 0.5em;
}
.reddito-entry {
	display: block;
	border-bottom: 1px solid white;
	text-align: center;
}
