.reddito-header {
	font-size: 1em;
	margin: 1em;
}
.reddito-summary {
	font-size: 0.5em;
	overflow: hidden;
	max-width: inherit;
	max-height: inherit;
}
.reddito-entry {
	display: block;
	text-align: center;
	line-height: 1.5em;
	margin: 10px;
}
.reddito-footnote {
	display: inline;
	color: #777777;
	line-height: 1.5em;
}
.reddito-wrapper {
	overflow: hidden;
}
